/* custom style for theme_rosehill */

$primary-yellow: #f6ce4c;
$accent-yellow: #e2be47;

$primary-green: #116a6c;
$accent-green: #0d5456;

/* change colour of all links */
a:link,
a:visited {
	color: $primary-green;
}
a:hover,
a:active {
	color: $accent-green;
}

/* gradient tint page background */
body {
	background: linear-gradient(#eee, #fff);
}

/* fix text colour of anchor tags that are styled as buttons */
a.btn-primary {
	color: #fff;
}

/* change colour of primary buttons */
.btn-primary {
	background-color: $primary-green;
	border-color: $primary-green;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
	background-color: $accent-green;
	border-color: $accent-green;
}
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
	background-color: $accent-green;
	border-color: $accent-green;
}

/* Calendar on dashboard */
.maincalendar .bottom span.footer-link:after {
	color: $primary-green;
}
.maincalendar .calendarmonth td.today .day-number-circle {
	background-color: $primary-green;
}

/* Only displays in footer when debugging active */
.footer-content-debugging.bg-dark.text-light a {
	color: #f8f9fa !important;
}

/* header */
.navbar.fixed-top.bg-white {
	background-color: $primary-yellow !important;
}
/* override hover colour for main navigation */
.navbar-nav .nav-link:hover {
	background-color: $accent-yellow !important;
}
.navbar-nav .border-left {
	border-color: $accent-yellow;
}

/* SVG - logo added to navbar.mustache */
.navbar .header-logo {
	height: 35px;
	display: inline;
	float: left;
	margin-right: .3em;
}

/* hide primary nav entries */
.navbar li[data-key="home"] {
	display: none;
}

/* hide secondary nav entries */
.secondary-navigation li[data-key="questionbank"],
.secondary-navigation li[data-key="contentbank"] {
	display: none;
}


/* restyle course "add sections" link as button */
.changenumsections a {
	background-color: $primary-green;
	color: #fff;
	padding: 5px 10px 7px 8px;
	border-radius: 6px;
}
.changenumsections a::before {
	content: "+ ";
}

/* optional: sticky secondary navigation on scroll, replaces bottom padding w/margin */
.secondary-navigation {
	position: sticky;
	top: 0;
	background-color: #fff;
	z-index: 999;
	padding-bottom: 0;
	margin-bottom: 15px;
}

/* page content - force navigation to full-width */
.secondary-navigation .navigation .nav-tabs {
	max-width: 100%;
}

/* if less than 100% max-width is required, force content left */
/* #page.drawers .main-inner {
	margin: 0 !important;
} */

/* side menu - re-colour links */
.courseindex .courseindex-item.pageitem {
	background-color: $primary-green !important;
}
.moremenu .nav-link.active {
	border-color: $primary-green !important;
	border-top: transparent;
}

.activity-info .btn-sm {
	margin-bottom: 1em;
}

/* resize document icons */
/*
.activityiconcontainer {
	width: 30px;
	height: 30px;
}
.activityiconcontainer .activityicon {
	width: 20px;
	height: 20px;
}
*/
/* changing colour of resource links in course menu */
/*
.courseindex .courseindex-section a[href*="/resource/"] {
	color: #999 !important;
}
*/

/* change default colours of activity icons – only these classes/colours can be re-styled */
/* inner elements .activityicon & .icon use filter: invert(1) */
.activityiconcontainer.administration {
	background-color: #5d63f6;
}
.activityiconcontainer.assessment {
	background-color: #eb66a2;
}
.activityiconcontainer.collaboration {
	background-color: #f7634d;
}
.activityiconcontainer.communication {
	background-color: #11a676;
}
.activityiconcontainer.content {
	background-color: #399be2;
}
.activityiconcontainer.interface {
	background-color: #a378ff;
}

/* reduce padding top/bottom on nav items > ul > li */
.courseindex .courseindex-section .courseindex-sectioncontent .courseindex-item {
	padding-top: .1rem;
	padding-bottom: .1rem;
}
/* add extra space to bottom of list */
.courseindex .courseindex-section .courseindex-sectioncontent .courseindex-item:last-child {
	margin-bottom: .5rem;
}

/* Login customisation */
body.pagelayout-login {
	background-image: url([[pix:theme_rosehill|loginbackgroundimage]]);
	background-size: cover;
}

@media (min-width: 768px) {

	/* PAGE CONTENT - force width to full-width */
	.pagelayout-standard #page.drawers .main-inner,
	body.limitedwidth #page.drawers .main-inner {
		max-width: 100%;
	}
	.header-maxwidth {
		max-width: 100%;
	}
}