/* custom style for theme_rosehill */

$primary-yellow: #f6ce4c;
$accent-yellow: #e2be47;

$primary-green: #116a6c;
$accent-green: #0d5456;

/* change colour of all links */
a:link,
a:visited {
	color: $primary-green;
}
a:hover,
a:active {
	color: $accent-green;
}

/* gradient tint page background */
body {
	background: linear-gradient(#eee, #fff);
}

/* fix text colour of anchor tags that are styled as buttons */
a.btn-primary {
	color: #fff;
}

/* change colour of primary buttons */
.btn-primary {
	background-color: $primary-green;
	border-color: $primary-green;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
	background-color: $accent-green;
	border-color: $accent-green;
}
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
	background-color: $accent-green;
	border-color: $accent-green;
}

/* ----------------- */
/* Calendar on dashboard */
.maincalendar .bottom span.footer-link:after {
	color: $primary-green;
}
.maincalendar .calendarmonth td.today .day-number-circle {
	background-color: $primary-green;
}

/* Only displays in footer when debugging active */
.footer-content-debugging.bg-dark.text-light a {
	color: #f8f9fa !important;
}

/* ----------------- */
/* header */
.navbar.fixed-top.bg-white {
	background-color: $primary-yellow !important;
}
/* override hover colour for main navigation */
.navbar-nav .nav-link:hover {
	background-color: $accent-yellow !important;
}
.navbar-nav .border-left {
	border-color: $accent-yellow;
}

/* SVG - logo added to navbar.mustache */
.navbar .header-logo {
	height: 35px;
	display: inline;
	float: left;
	margin-right: .3em;
}

/* ----------------- */
/* hide primary nav entries */
.navbar li[data-key="home"] {
	display: none;
}

/* hide secondary nav entries */
.secondary-navigation li[data-key="questionbank"],
.secondary-navigation li[data-key="contentbank"] {
	display: none;
}


/* COURSES */
/* restyle course "add sections" link as button */
.changenumsections a {
	background-color: $primary-green;
	border: 1px solid $accent-green;
	color: #fff;
	padding: 5px 10px 7px 8px;
	border-radius: 6px;
}
.changenumsections a:hover {
	text-decoration: none;
	background-color: $accent-green;
}
.changenumsections a::before {
	content: "+ ";
}

/* optional: sticky secondary navigation on scroll, replaces bottom padding w/margin */
.secondary-navigation {
	position: sticky;
	top: 0;
	background-color: #fff;
	z-index: 999;
	padding-bottom: 0;
	margin-bottom: 15px;
}

/* page content - force navigation to full-width */
.secondary-navigation .navigation .nav-tabs {
	max-width: 100%;
}

/* if less than 100% max-width is required, force content left */
/* #page.drawers .main-inner {
	margin: 0 !important;
} */

/* side menu - re-colour links */
.courseindex .courseindex-item.pageitem {
	background-color: $primary-green !important;
}
.moremenu .nav-link.active {
	border-color: $primary-green !important;
	border-top: transparent;
}

.activity-info .btn-sm {
	margin-bottom: 1em;
}

/* ----------------- */
/* resize document icons */
/*
.activityiconcontainer {
	width: 30px;
	height: 30px;
}
.activityiconcontainer .activityicon {
	width: 20px;
	height: 20px;
}
*/

/* changing colour of resource links in course menu */
/*
.courseindex .courseindex-section a[href*="/resource/"] {
	color: #999 !important;
}
*/


/* ----------------- */
/* change default colours of activity icons – only these classes/colours can be re-styled */
/* inner elements .activityicon & .icon use filter: invert(1) */
.activityiconcontainer.administration {
	background-color: #5d63f6;
}
.activityiconcontainer.assessment {
	background-color: #eb66a2;
}
.activityiconcontainer.collaboration {
	background-color: #f7634d;
}
.activityiconcontainer.communication {
	background-color: #11a676;
}
.activityiconcontainer.content {
	background-color: #399be2;
}
.activityiconcontainer.interface {
	background-color: #a378ff;
}

/* ----------------- */
/* My assessment and feedback */
.path-report-myfeedback .nav.nav-tabs {
	font-size: 1em;
}
.path-report-myfeedback .heading h2 {
	padding-left: 0;
	background: transparent;
	color: #1d2125;
}

/* button/link styling */
.path-report-myfeedback #reportPrint,
.path-report-myfeedback .buttonswrapper input[type="button"],
.path-report-myfeedback .dt-buttons a,
.path-report-myfeedback .personaltutoremail,
.path-report-myfeedback .pToggle,
.path-report-myfeedback .sToggle,
.path-report-myfeedback .aToggle,
div.dt-button-collection button.dt-button:active:not(.disabled),
div.dt-button-collection button.dt-button.active:not(.disabled),
div.dt-button-collection div.dt-button:active:not(.disabled),
div.dt-button-collection div.dt-button.active:not(.disabled),
div.dt-button-collection a.dt-button:active:not(.disabled),
div.dt-button-collection a.dt-button.active:not(.disabled),
button.dt-button, div.dt-button, a.dt-button {
	border: 1px solid $accent-green;
	border-radius: 6px;
	background-color: $primary-green;
	color: #fff;
	background-image: none;
	padding-right: 6px;
	white-space: normal;
}
.path-report-myfeedback #reportPrint:hover,
.path-report-myfeedback .buttonswrapper input[type="button"]:hover,
.path-report-myfeedback .dt-buttons a:hover {
	background-color: $accent-green;
}

/* academic year select menu */
.path-report-myfeedback .ac-year-right {
	float: right;
	margin: 0;
	overflow: hidden;
}
.path-report-myfeedback .ac-year-right p,
.path-report-myfeedback .ac-year-right form {
	float: left;
}

/* target report/feedback navigation entries to be hidden */
.path-report-myfeedback .nav-tabs a[title*="Module tutor dashboard"],
.path-report-myfeedback .nav-tabs a[title*="My students"],
.path-report-myfeedback .nav-tabs a[title*="Feedback comments"],
.path-report-myfeedback .nav-tabs a[title*="Usage dashboard"] {
	display: none;
}
/* Hide report/feedback navigation completely */
/*
.path-report-myfeedback .nav.nav-tabs.mb-3 {
	display: none;
}
*/

/* alignment and whitespace corrections – matching M3.11 */
.path-report-myfeedback table.dataTable {
	float: left;
	margin-top: 20px;
}
.path-report-myfeedback .dataTables_wrapper {
	margin-top: 24px;
	padding: 24px 16px;
	background: #f5f7f7;
	overflow-y: scroll;
}
.path-report-myfeedback .buttonswrapper {
	overflow: hidden;
	margin-bottom: 24px;
	margin-top: 24px;
}

/* customise report table header background colour - optional? */
/*
.path-report-myfeedback table#feedbackcomments tr.tableheader, .path-report-myfeedback table tr.tableheader,
.path-report-myfeedback table.grades th {
	background: #dce9f9;
	background-image: linear-gradient(to bottom,#ebf3fc,#dce9f9);
}
*/

/* copied from M3.11 not sure if need to be kept for M4 until content populated */
.path-report-myfeedback .ellip {
	overflow: visible;
	white-space: normal;
	text-overflow: inherit;
}
.path-report-myfeedback .personaltutoremail>a {
	display: block;
}
.path-report-myfeedback .personaltutoremail>img {
	display: none;
}


/* COURSE NAVIGATION */
/* reduce padding top/bottom on nav items > ul > li */
.courseindex .courseindex-section .courseindex-sectioncontent .courseindex-item {
	padding-top: .1rem;
	padding-bottom: .1rem;
}
/* add extra space to bottom of list */
.courseindex .courseindex-section .courseindex-sectioncontent .courseindex-item:last-child {
	margin-bottom: .5rem;
}

/* ----------------- */
/* FOOTER */
/* hide default help menu (bottom right) */
#page-footer .btn.btn-icon {
	display: none;
}

@media (min-width: 768px) {

	/* PAGE CONTENT - force width to full-width */
	.pagelayout-standard #page.drawers .main-inner,
	body.limitedwidth #page.drawers .main-inner {
		max-width: 100%;
	}
	.header-maxwidth {
		max-width: 100%;
	}
}

@import './login';