//==========================================================================//
//==========================================================================//
//                                                                          //
//                            // MINOR FIXES //                             //
//                                                                          //
//==========================================================================//
//==========================================================================//


/* Calendar on dashboard */
// .maincalendar .bottom span.footer-link:after {
// 	color: $primary-green;
// }
// .maincalendar .calendarmonth td.today .day-number-circle {
// 	background-color: $primary-green;
// }

/* Only displays in footer when debugging active */
.footer-content-debugging.bg-dark.text-light a {
    color: #f8f9fa !important;
}


//-----------------------------------------------------
// Legacy Frame Top pages (e.g. aspirelists)
//-----------------------------------------------------

// Fixes duplicate headings and some layout issues
.pagelayout-frametop {
    background: #fff;

    #region-main h2 {
        margin-bottom: 2rem;
    }

    [role="main"] h2 {
        display: none
    }

    #page {
        padding-bottom: 1rem
    }
}


//-----------------------------------------------------
// Theme Rosehill Footer Options Page
//
// - Adjust spacing around related item fields
//
//-----------------------------------------------------

#theme_rosehill_footer {
    margin-bottom: 2rem
}

.form-item[id*="admin-footerlinkurl"] {
    border-bottom: 1px solid #eee;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.form-item[id*="admin-footerlinktext"] {
    padding-top: 3rem;
}


//-----------------------------------------------------
// Layout width changes
//
// - Adjust content width, adjust menu width, adjust menu truncation.
//
//-----------------------------------------------------

@media (min-width: 768px) {

    /* PAGE CONTENT - force width to full-width */
    .pagelayout-standard #page.drawers .main-inner,
    body.limitedwidth #page.drawers .main-inner {
        margin-left: 0;
        max-width: 1200px;
    }
}

/* wider nav */
@media (min-width: 992px) {

    #page.drawers.show-drawer-left,
    #page.drawers.show-drawer-left.show-drawer-right {
        // fallback for older browsers (pre 2019) not supporting min()
        margin-left: calc(285px + 6%);
        margin-left: min(28%, 385px);
    }

    .drawer.drawer-left {
        width: 28%;
        max-width: 385px;
    }
}

/* bring truncated nav text into view on hover */
.courseindex .courseindex-section .courseindex-item .courseindex-link.text-truncate:hover {
    white-space: initial;
}