//==========================================================================//
//==========================================================================//
//                                                                          //
//                             // ICONOGRAPHY //                            //
//                                                                          //
//==========================================================================//
//==========================================================================//


//-----------------------------------------------------
// Import assets
//-----------------------------------------------------

@import 'https://fonts.googleapis.com/icon?family=Material+Icons';


//-----------------------------------------------------
// Document Icons
//-----------------------------------------------------

/* resize document icons */
// .activityiconcontainer {
// 	width: 30px;
// 	height: 30px;
// }
// .activityiconcontainer .activityicon {
// 	width: 20px;
// 	height: 20px;
// }


//-----------------------------------------------------
// General Activity Icon Colours
//-----------------------------------------------------

/* change default colours of activity icons – only these classes/colours can be re-styled */
/* inner elements .activityicon & .icon use filter: invert(1) */
.activityiconcontainer.administration {
    background-color: #5d63f6;
}

.activityiconcontainer.assessment {
    background-color: #eb66a2;
}

.activityiconcontainer.collaboration {
    background-color: #f7634d;
}

.activityiconcontainer.communication {
    background-color: #11a676;
}

.activityiconcontainer.content {
    background-color: #399be2;
}

.activityiconcontainer.interface {
    background-color: #a378ff;
}


//-----------------------------------------------------
// Talis Activity
//-----------------------------------------------------

// .aspirelists .activityiconcontainer {
//     position: relative;
//     background: #24a8b6;
// }

// .aspirelists .activityiconcontainer::after {
//     content: "\ea19";
//     font-family: 'Material Icons';
//     font-size: 28px;
//     color: #fff;

// }

// .aspirelists .activityiconcontainer .activityicon {
//     display: none;
// }

// Legacy Talis

.modtype_aspirelists .activityiconcontainer,
.modicon_aspirelists {
    overflow: hidden;
}

.modtype_aspirelists .activityicon,
.modicon_aspirelists .activityicon {
    width: 50px;
    height: 50px;
}

// Talis 1.3 (new talis lti tool)

.modicon_lti .activityicon[src*="talis"],
.modtype_lti .activityicon[src*="talis"],
.modicon_lti_type_7 .icon {
    filter: brightness(0) invert(1);
}


//-----------------------------------------------------
// Turnitin
//-----------------------------------------------------

.modtype_turnitintooltwo .activityiconcontainer img,
.modicon_turnitintooltwo.activityiconcontainer img {
    display: none;
}

.modtype_turnitintooltwo .activityiconcontainer,
.modicon_turnitintooltwo.activityiconcontainer {
    background: #eb66a2;
    position: relative;

}

.modtype_turnitintooltwo .activityiconcontainer::after,
.modicon_turnitintooltwo.activityiconcontainer::after {
    content: "";
    background: url([[pix:theme_rosehill|turnitin-logo-white]]) no-repeat center center;
    width: 50px;
    height: 50px;
    background-size: 24px;
}
