//==========================================================================//
//==========================================================================//
//                                                                          //
//                       // GENERAL PLUGIN FIXES //                         //
//                                                                          //
//==========================================================================//
//==========================================================================//

//-----------------------------------------------------
// Blackboard Ally for LMS
//-----------------------------------------------------

.filter-ally-wrapper.ally-image-wrapper {
	position: relative;
}

//-----------------------------------------------------
// My assessment and feedback
//-----------------------------------------------------

.path-report-myfeedback .nav.nav-tabs {
    font-size: 1em;
}

.path-report-myfeedback .heading h2 {
    padding-left: 0;
    background: transparent;
    color: #1d2125;
}

/* button/link styling */
.path-report-myfeedback #reportPrint,
.path-report-myfeedback .buttonswrapper input[type="button"],
.path-report-myfeedback .dt-buttons a,
.path-report-myfeedback .personaltutoremail,
.path-report-myfeedback .pToggle,
.path-report-myfeedback .sToggle,
.path-report-myfeedback .aToggle,
div.dt-button-collection button.dt-button:active:not(.disabled),
div.dt-button-collection button.dt-button.active:not(.disabled),
div.dt-button-collection div.dt-button:active:not(.disabled),
div.dt-button-collection div.dt-button.active:not(.disabled),
div.dt-button-collection a.dt-button:active:not(.disabled),
div.dt-button-collection a.dt-button.active:not(.disabled),
button.dt-button,
div.dt-button,
a.dt-button {
    border: 1px solid $accent-green;
    border-radius: 6px;
    background-color: $primary-green;
    color: #fff;
    background-image: none;
    padding-right: 6px;
    white-space: normal;
}

/* correct background when focussed */
.path-report-myfeedback .nav-tabs > li > a:focus {
	background-color: #f8f9fa;
}

.path-report-myfeedback #reportPrint:hover,
.path-report-myfeedback .buttonswrapper input[type="button"]:hover,
.path-report-myfeedback .dt-buttons a:hover {
    background-color: $accent-green;
}

/* academic year select menu */
.path-report-myfeedback .ac-year-right {
    float: right;
    margin: 0;
    overflow: hidden;
}

.path-report-myfeedback .ac-year-right p,
.path-report-myfeedback .ac-year-right form {
    float: left;
}

/* target report/feedback navigation entries to be hidden */
.path-report-myfeedback .nav-tabs a[title*="Module tutor dashboard"],
.path-report-myfeedback .nav-tabs a[title*="My students"],
.path-report-myfeedback .nav-tabs a[title*="Feedback comments"],
.path-report-myfeedback .nav-tabs a[title*="Usage dashboard"] {
    display: none;
}

/* Hide report/feedback navigation completely */
// .path-report-myfeedback .nav.nav-tabs.mb-3 {
// 	display: none;
// }


/* alignment and whitespace corrections – matching M3.11 */
.path-report-myfeedback table.dataTable {
    float: left;
    margin-top: 20px;
}

.path-report-myfeedback .dataTables_wrapper {
    margin-top: 24px;
    padding: 24px 16px;
    background: #f5f7f7;
    overflow-y: scroll;
}

.path-report-myfeedback .buttonswrapper {
    overflow: hidden;
    margin-bottom: 24px;
    margin-top: 24px;
}

/* customise report table header background colour - optional? */
// .path-report-myfeedback table#feedbackcomments tr.tableheader, .path-report-myfeedback table tr.tableheader,
// .path-report-myfeedback table.grades th {
// 	background: #dce9f9;
// 	background-image: linear-gradient(to bottom,#ebf3fc,#dce9f9);
// }

/* copied from M3.11 not sure if need to be kept for M4 until content populated */
.path-report-myfeedback .ellip {
    overflow: visible;
    white-space: normal;
    text-overflow: inherit;
}

.path-report-myfeedback .personaltutoremail>a {
    display: block;
}

.path-report-myfeedback .personaltutoremail>img {
    display: none;
}


//-----------------------------------------------------
// Assignment (path-mod-assign, path-grade-grading)
//-----------------------------------------------------

// Fix for displaying content heavy rubric table
.gradingform_rubric {
    max-width: 100%;

    .criteria {
        display: table;

        .criterion .description {
            width: 22%;
        }
    }
}

#rubric-rubric {
    overflow-x: scroll;

    table {
        min-width: 1000px;
    }
}


//-----------------------------------------------------
// Old Talis
//-----------------------------------------------------

// inline iframe
.aspirelists_inline_list {
    width: 100%;
    min-height: 600px;

    @media screen and (min-width: 768px) {
        min-height: 800px;
    }
}


//-----------------------------------------------------
// LTI Tool (New Talis)
//-----------------------------------------------------

// set default iframe height at least height of viewport plus half
.path-mod-lti iframe#contentframe {
    min-height: 150vh
}


//-----------------------------------------------------
// Grading (Rubric)
//-----------------------------------------------------

.path-mod-assign [data-region="review-panel"].collapsed+[data-region="grade-panel"] [data-region="grade"],
.path-mod-assign [data-region="grade-panel"].fullwidth [data-region="grade"] {
	max-width: 1200px;
}
.path-mod-assign [data-region="grade-panel"] {

	.gradingform_rubric .criterion {
		.levels {
			background-color: transparent;

			.level {
				.level-wrapper {
					white-space: nowrap;
					padding: 0 .2em;
				}

				&.last {
					border-right: none;
				}
			}
		}

		&.even {
			background-color: #f0f0f0;
		}
	}
	.gradingform_rubric .criteria td {
		height: 4em;
		vertical-align: middle;

		.text-break {
			cursor: pointer;
			font-size: 90%;
		}
	}
}
